<!doctype html>
<html lang="en">
    <head>
        <title>CRUD</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>

    <body>
        <header>
            <h1 class="text-center py-4">CRUD</h1>
        </header>
        <main class="container">
            <div class="row">
                <!--Formulario-->
                <div class="col-lg-5">
                    <h3 class="text-center">Formulario de ingreso</h3>
                    <form action="" class="row" method="post">
                        {% csrf_token %}
                        <label for="nombre_completo">Nombre Completo</label>
                        <input type="text" class="form-control bg-light mb-3" name="nombre_completo" id="nombre_completo" Required>
                        <label for="peso">Peso</label>
                        <input type="text" class="form-control bg-light mb-3" name="peso" id="peso" Required>
                        <label for="talla">Talla</label>
                        <input type="text" class="form-control bg-light mb-3" name="talla" id="talla" Required>
                        <button type="submit" class="btn btn-primary fs-4">Enviar</button>
                        <a href="descargar" class="btn btn-success mt-3 py-2">Descargar DB</a>
                    </form>
                </div>
                <!--Tabla-->
                <div class="col-lg-7">
                    <h3 class="text-center">Datos Ingresados</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Peso</th>
                                    <th scope="col">Talla</th>
                                    <th class="text-center" scope="col">Editar</th>
                                    <th class="text-center" scope="col">Borrar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for persona in personas %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{persona.nombre_completo}}</td>
                                    <td>{{persona.peso}}</td>
                                    <td>{{persona.talla}}</td>
                                    <td class="text-center"><a href="editar/{{persona.id}}"><i class="bi bi-pencil-fill"></i></a></td>
                                    <td class="text-center"><a href="" data-bs-toggle="modal" data-bs-target="#exampleModal{{forloop.counter}}"><i class="bi bi-trash3-fill"></i></a></td>
                                </tr>
                                <!-- Start Modal -->
                                <div class="modal fade" id="exampleModal{{forloop.counter}}" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estás seguro de esta acción?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p><b>Quiero eliminar a:</b> {{persona.nombre_completo}}</p>
                                                <small><i>Nota: Esta acción no se puede revertir</i></small>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <a href="eliminar/{{persona.id}}" class="btn btn-danger">Si, eliminar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Modal -->
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </main>
        <footer class="container-fluid bg-secondary">
            <p class="container text-center text-white py-2">Made with ♡ by Mario Haro</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
